.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre_ {
  display: block;
  text-indent: 0;
  margin: 0;
}
.calibre_1 {
  height: 60px;
  vertical-align: baseline;
  width: 164px;
}
.calibre_2 {
  display: block;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre_3 {
  height: 724px;
  vertical-align: baseline;
  width: 580px;
}
.calibre_4 {
  height: 68px;
  vertical-align: baseline;
  width: 336px;
}
.calibre_5 {
  color: white; white; blue;
}
.calibre_6 {
  height: 60px;
  vertical-align: baseline;
  width: 248px;
}
.calibre_7 {
  height: 728px;
  vertical-align: baseline;
  width: 580px;
}
.calibre_8 {
  height: 68px;
  vertical-align: baseline;
  width: 352px;
}
.calibre_9 {
  height: 436px;
  vertical-align: baseline;
  width: 1620px;
}
.calibre_10 {
  height: 108px;
  vertical-align: baseline;
  width: 200px;
}
.calibre_11 {
  height: 668px;
  vertical-align: baseline;
  width: 1000px;
}
.calibre_12 {
  height: 816px;
  vertical-align: baseline;
  width: 1268px;
}
.calibre_13 {
  height: 1180px;
  vertical-align: baseline;
  width: 1552px;
}
.calibre_14 {
  height: 128px;
  vertical-align: baseline;
  width: 120px;
}
.calibre_15 {
  height: 128px;
  vertical-align: baseline;
  width: 480px;
}
.calibre_16 {
  height: 128px;
  vertical-align: baseline;
  width: 140px;
}
.calibre_17 {
  height: 128px;
  vertical-align: baseline;
  width: 232px;
}
.calibre_18 {
  height: 128px;
  vertical-align: baseline;
  width: 88px;
}
.calibre_19 {
  height: 232px;
  vertical-align: baseline;
  width: 1820px;
}
.calibre_20 {
  height: 104px;
  vertical-align: baseline;
  width: 200px;
}
.calibre_21 {
  height: 652px;
  vertical-align: baseline;
  width: 1684px;
}
.calibre_22 {
  height: 484px;
  vertical-align: baseline;
  width: 1876px;
}
.calibre_23 {
  height: 1060px;
  vertical-align: baseline;
  width: 1860px;
}
.calibre_24 {
  height: 1216px;
  vertical-align: baseline;
  width: 1708px;
}
.calibre_25 {
  height: 1628px;
  vertical-align: baseline;
  width: 1628px;
}
.calibre_26 {
  height: 700px;
  vertical-align: baseline;
  width: 1752px;
}
.calibre_27 {
  height: 1076px;
  vertical-align: baseline;
  width: 1376px;
}
.calibre_28 {
  height: 1196px;
  vertical-align: baseline;
  width: 1844px;
}
.calibre_29 {
  height: 704px;
  vertical-align: baseline;
  width: 1484px;
}
.calibre_30 {
  height: 2520px;
  vertical-align: baseline;
  width: 1864px;
}
.calibre_31 {
  height: 1592px;
  vertical-align: baseline;
  width: 1084px;
}
.calibre_32 {
  height: 2556px;
  vertical-align: baseline;
  width: 1852px;
}
.calibre_33 {
  height: 340px;
  vertical-align: baseline;
  width: 1236px;
}
.calibre_34 {
  height: 200px;
  vertical-align: baseline;
  width: 200px;
}
.calibre_35 {
  height: 112px;
  vertical-align: baseline;
  width: 200px;
}
.calibre_36 {
  height: 88px;
  vertical-align: baseline;
  width: 200px;
}
.calibre_37 {
  height: 48px;
  vertical-align: baseline;
  width: 192px;
}
.calibre_38 {
  height: 48px;
  vertical-align: baseline;
  width: 124px;
}
.calibre_39 {
  height: 580px;
  vertical-align: baseline;
  width: 1528px;
}
.calibre_40 {
  display: block;
  height: 1em;
}
.calibre_41 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0;
}
.calibre_42 {
  display: list-item;
  margin-top: 0;
  text-indent: 0;
}
.calibre_43 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre_44 {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0;
}
.calibre_45 {
  display: block;
  text-indent: -19pt;
  margin: 1em 0 0 19pt;
}
.calibre_46 {
  display: block;
  text-indent: -19pt;
  margin: 0 0 0 19pt;
}
.calibre1 {
  font-size: 1.83333em;
  line-height: 1.2;
}
.italic {
  font-style: italic;
}
.mbp_pagebreak {
  display: block;
  margin: 0;
}
.underline {
  text-decoration: underline;
}
